body {
    font-family: Lato, Dancing Script, Sans-serif;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

nav li a {
    font-size: 20px;
    font-weight: 700;
    color: #E71D36;
}

nav i {
    color: #E71D36;
}

.sidenav li a {
    color: #E71D36;
    font-size: 18px;
}

#nav-logo {
    margin-top: 10px;
    height: 80px;
    width: 80px;
}

.home-page {
    margin-top: 50px;
}

.home-page h1 {
    font-family: Dancing Script, Lato, Sans-serif;
    font-weight: 700;
    color: #E71D36;
}

.home-page p {
    font-size: 25px;
    font-weight: 700;
    color: #033F63;
}

#login-btn {
    background-color: #033F63;
    color: #FFFFFF;
    width: 175px;
    margin: 5px;
}

#register-btn {
    background-color: #E71D36;
    color: #FFFFFF;
    width: 175px;
    margin: 5px;
}

#bg-image {
    background-image: url(../images/strawberries.jpg);
    background-color: rgba(255, 255, 255, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
}