body {
    font-family: Lato, Dancing Script, Sans-serif;
}

nav li a {
    font-size: 18px;
    font-weight: 700;
    color: #E71D36;
}

nav i {
    color: #E71D36;
}

.sidenav li a {
    color: #E71D36;
    font-size: 18px;
}

#nav-logo {
    margin-top: 10px;
    height: 80px;
    width: 80px;
}

#book-image {
    max-height: 100%;
    max-width: 100%;
}

.home-page {
    margin-top: 100px;
}

.home-page h1 {
    font-family: Dancing Script, Lato, Sans-serif;
    font-weight: 700;
    color: #E71D36;
}

.home-page h4 {
    color: #033F63;
}

.home-page h4 b {
    font-family: Dancing Script, Lato, Sans-serif;
    font-size: 60px;
    color: #E71D36;
}

.home-page-line {
    margin-top: 20px;
    border-top: 5px solid #E71D36;
    border-radius: 0%;
}

#login-btn {
    background-color: #033F63;
}

#register-btn {
    background-color: #E71D36;
    color: #FFFFFF;
}