{% extends "base.html" %}
{% block content %}

<main>

    <h3 class="center-align page-title">{{ category_name }}</h3>
    
    <div class="container">
        <div class="row">
            {% for recipe in recipes %}
            <div class="col s12 m4 center-align">
                <div class="card">
                    <div class="card-image waves-effect waves-light">
                        {% if recipe.recipe_image %}
                        <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"><img class="food-image"
                            src="{{ recipe.recipe_image }}" alt="recipe-picture">
                        <span class="card-title truncate">{{ recipe.recipe_name }}</span></a>
                        {% else %}
                        <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"><img class="food-image"
                            src="{{ url_for('static', filename='images/recipe-alt.png') }}" alt="no-image-available">
                        <span class="card-title truncate">{{ recipe.recipe_name }}</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</main>

{% endblock %}