{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="home-page">
            <div class="col s12 m6 left-align">
                <h1>RecipMe</h1>
                <p>A place to keep all those recipes that are a little bit of you ...</p>
                <a class="waves-effect waves-light btn-large" id="login-btn">
                    <i class="material-icons right fas fa-sign-in-alt"></i>Log In</a>
                <a class="waves-effect waves-light btn-large" id="register-btn">
                    <i class="material-icons right fas fa-user-plus"></i>Register</a>
            </div>
            <div class="col s12 m6">
                <img src="{{ url_for('static', filename='images/recipe-book.png') }}" id="book-image"
                    class="responsive-img" alt="recipe-book">
            </div>
        </div>
    </div>


{% endblock %}