{% extends "base.html" %}
{% block content %}

<main>
    
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="center-align page-title">Log In</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <form class="col s12 m8 offset-m2 account-form" method="POST" action="{{ url_for('login') }}">
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <i class="fas fa-user-plus prefix"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                        class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <i class="fas fa-lock prefix"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="col s10 offset-s1 waves-effect waves-light btn-large">
                    Log in <i class="fas fa-user-plus"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s10 offset-s1">
            <p class="center-align log-reg-p">
                Don't have an account?<br><a href="{{ url_for('register') }}"> Register here</a>
            </p>
        </div>
    </div>
</main>

{% endblock %}