{% extends "base.html" %}
{% block content %}

<main>

    <h1 class="center-align page-title">Recipes</h1>

    <div class="container">
        <div class="row center-align">
            <div class="col s12 m6 offset-m3">
                <form action="{{ url_for('search') }}" method="POST">
                    <div class="input-field col s12">
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Search</label>
                        <a href="{{ url_for('recipes') }}" id="reset-btn"
                            class="waves-effect waves-light btn-large">Reset</a>
                        <button type="submit" id="search-btn" class="waves-effect waves-light btn-large"><i
                                class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if recipes %}
    <div class="container">
        <div class="row center-align">
            {% for recipe in recipes %}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-light">
                        {% if recipe.recipe_image %}
                        <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"><img class="food-image"
                            src="{{ recipe.recipe_image }}" alt="recipe-picture">
                        <span class="card-title truncate">{{ recipe.recipe_name }}</span></a>
                        {% else %}
                        <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}"><img class="food-image"
                            src="{{ url_for('static', filename='images/recipe-alt.png') }}" alt="no-image-available">
                        <span class="card-title truncate">{{ recipe.recipe_name }}</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <h3 class="center-align page-title">No Results Found</h3>
    {% endif %}

</main>

{% endblock %}