{% extends "base.html" %}
{% block content %}

<main>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="page-title">{{ recipe.recipe_name }}</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12 m8 left-align">
                <p class="recipe-desc">"{{ recipe.recipe_desc }}"</p>
                <ul class="recipe-details">
                    <li><i class="fas fa-utensils"></i>{{ recipe.category_name }}</li>
                    <li><i class="fas fa-clock"></i>{{ recipe.recipe_time }} Minutes</li>
                    <li><i class="fas fa-users"></i>{{ recipe.recipe_servings }} serving(s)</li>
                </ul>
            </div>
            <div class="col s12 m4 left-align">
                <div class="card">
                    <div class="card-image">
                        <img class="food-image recipe-border" src="{{ recipe.recipe_image }}" alt="recipe-picture">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12 m4 left-align">
                <h4 class="page-title">Ingredients</h4>
                    <ul class="ingredient-list browser-default">
                        {% for ingredient in ingredients %}
                        <li>
                            {{ ingredient }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            <div class="col s12 m7 offset-m1 left-align">
                <h4 class="page-title">Method</h4>
                    <ol class="method-list">
                    {% for method in methods %}
                        <li>
                            {{ method }}
                        </li>
                    {% endfor %}
                    </ol>
                </div>
            </div>

            <div class="row">
            <div class="col s12 center-align">
                <h4 class="page-title">Added by: {{ recipe.added_by }}</h4>
                </div>
            </div>
        </div>

</main>

{% endblock %}